@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

/** Header Section **/

.allBtn {
    text-decoration: none !important;
}

.allBtn:focus {
    border-color: none !important;
    border: none;
    outline: none;
}

.allBtn:hover {
    text-decoration: none !important;
}

.menuBtn:focus {
    border-color: none !important;
    border: none;
    outline: none;
}

.logo_image {
    max-width: 47%;
    height: auto;
    margin-left: -59px;
}

/** Hero Section **/

.hero_container {
    background: linear-gradient(-90deg, #3043ac 0%, #2690d9 77.11%, rgba(199, 20, 137, 0.63) 100%);
    height: 100%;
}

.hero_div {
    margin-top: 1px;
}

.hero_img {
    max-width: 100%;
    height: auto;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
    margin-top: 134px;
    margin-bottom: 90px;
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}

.heroDetails {
    margin-top: 210px;
    color: #ffffff;
}

.heroH1 {
    margin-bottom: 60px !important;
}

.heroBtn {
    background-color: #ffffff !important;
    width: 45%;
}

.heroBtn:focus {
    border: none;
    outline: none;
}

/** User Section **/

.userDiv {
    margin-top: 100px;
}

.imagesDiv {
    margin-top: 50px;
}

.imageContainer {
    margin-top: 38px;
}

.image1, .image2, .image3, .image4 {
    max-width: 100%;
    height: auto;
}

/** Card Section **/

.cardSection {
    margin-top: 176px;
}

.cardHead {
    font-family: 'Quicksand', sans-serif !important;
    margin-bottom: 81px !important;
}

.card {
    background-color: #f2f2f2 !important;
    box-shadow: inset -4px -4px 24px rgba(0,0,0,0.04), inset 4px 4px 24px #fff;
    border-radius: 24px !important;
    padding: 16px 16px 0;
    border: 4px solid rgba(0,0,0,0.04);
    margin-bottom: 51px;
    height: 30rem;
}

.cardNum {
    width: 52px;
    height: 52px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    text-align: center;
    margin: 24px auto;
    padding-top: 5px;
    background: #ffffff;
    border: 1px solid #f2f2f2;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.05), inset 2px 2px 8px rgba(255,255,255,0.25), inset -2px -2px 4px rgba(0,0,0,0.05);
    border-radius: 50%;
    font-size: 32px !important;
    font-weight: bold;
    line-height: 52px;
    color: #292A3A !important;
    font-family: 'Quicksand', sans-serif !important;
}

.cardLabel {
    font-size: 28px !important;
    font-weight: bold;
    color: #292A3A;
    font-family: 'Quicksand', sans-serif !important;
    margin-top: 35px !important;
}

.cardImg {
    margin-top: -60px;
    max-width: 100%;
}

.svgCard {
    margin-top: -188px;
}

/** Overview Section **/

.overviewDiv {
    padding: 55px 42px 0;
    text-align: left;
    font-family: 'Quicksand', sans-serif !important;
}

.overviewDiv h5 {
    font-size: 20px;
    color: #2e54b6;
    font-weight: 500;
    margin-bottom: 4px;
}

.overviewDiv h4 {
    font-size: 48px;
    font-weight: bold;
    color: #292A3A;
}

.product_overview { padding: 1px; }

.product_overview_list { padding: 48px 0; }

.list_item { margin-bottom: 24px; }

.list_item_img {
    width: 64px;
    height: 64px;
    background: #ffffff;
    border: 1px solid #f2f2f2;
    box-shadow: 2px 2px 9px rgba(0,0,0,0.05), 
        inset 2px 2px 8px rgba(255,255,255,0.25), 
        inset -2px -2px 4px rgba(0,0,0,0.05);
    border-radius: 16px;
    font-size: 24px;
    color: #2e54b6;
    float: left;
}

.list_item_desc { margin-left: 94px; text-align: left; font-family: 'Quicksand', sans-serif; }

.list_item_desc h3 {
    font-size: 20px;
    font-weight: bold;
    color: #292A3A;
    margin-bottom: 4px;
}

.list_item_desc p {
    font-size: 14px;
    font-weight: 500;
    color: #292A3A;
}

.product_overview_moreLink {
    font-size: 20px;
    font-weight: bold;
    color: #2e54b6 !important;
    font-family: 'Quicksand', sans-serif !important;
    text-decoration: none !important;
    text-align: left;
    margin-bottom: 60px;
}

.product_overview_moreLink:hover {
    text-decoration: none !important;
}


/** Start card Section **/
.MuiButton-label:hover {
    text-decoration: none !important;
}

.start_container {
    background: linear-gradient(-90deg, #3043ac 0%, #2690d9 77.11%, rgba(199, 20, 137, 0.63) 100%);
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    border-radius: 24px;
    padding: 80px;
}

.start_container h3 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 48px;
}

.start_container_btn {
    font-family: 'Quicksand', sans-serif !important;
    height: 82px;
    padding: 14px 24px !important;
    font-size: 24px !important;
    border-radius: 16px !important;
    font-weight: bold !important;
    background-color: #ffffff !important;
    box-shadow: 0px 4px 0px #ffffff !important;
    color: #000000 !important;
    transition: all 0.2s !important;
    text-decoration: none !important;
}

.start_container_btn:hover {
    text-decoration: none !important;
    box-shadow: none !important;
}

.start_container_btn:focus {
    border: none !important;
    outline: none !important;
}

.start_container p {
    font-family: 'Quicksand', sans-serif !important;
    color: #ffffff;
    margin-top: 30px; 
    font-weight: bold;
    font-size: 20px;
}


/** Footer Section **/

.footer {
    background-color: #2f49b0;
    padding: 48px 0;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif !important;
}

.copyright h5 {
    font-size: 16px;
    color: rgba(255,255,255,0.5);
}

.socialLinks {
    margin-top: 24px;
}

div.socialLinks a {
    color: #ffffff;
    margin: 10px;
}

div.socialLinks a:hover {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.socialLinks span {
    font-size: 14px;
    font-weight: 500;
}

.footerLink2 ul li {
    color: #ffffff;
    list-style-type: none;
    margin-bottom: 16px;
    font-family: 'Quicksand', sans-serif !important; 
}

.footerLink2 a {
    color: #ffffff;
    font-size: 16px;
    
}

.footerLink2 a:hover {
    color: #ffffff;
    text-decoration: none;
}

/** ----------------- Media Queries --------------------------- **/

@media only screen and (max-width: 767px) {
    .allBtn {
        display: none !important;
    }

    .heroDetails {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 715px) {
    .svgCard {
        margin-top: -80px;
    }
}

@media (max-width: 991px) {
    .cardLabel {
        font-size: 24px !important;
    }

    .cardHead {
        font-size: 40px !important;
        margin-bottom: 32px !important;
    }
}

@media (max-width: 575px) {
    .cardHead {
        font-size: 24px !important;
        margin-bottom: 16px !important;
    }

    .footer_col {
        margin-top: 40px;
    }
}